.where-wrapper{
	max-width: 1200px;
	margin: auto;

}
.where-heading{
	margin: 15px;
	text-align: center;
	color:#E0C097;
}
.where-input>input[type="number"]{
	width: 70px;
}
.where-input>input{
	border-radius: 10px;
	outline: none;
	text-align: center;
}
.where-input>input[type="radio"]{
    width: 15px;
	height: 15px;	
}
.where-input>label{
	margin: 5px;
}
.where-input{
	margin: 10px 10px;
	padding: 10px 10px;
}

.where-item{
	background: #BD4B4B;
}

.where-form-button{
	padding: 10px 10px;
	margin: 10px 20px;
	width: 20%;
}

.where-container {
	display: grid;
	gap: 10px 10px;
	grid-auto-flow: row;
	grid-template-areas:
	  "where-houseinfo1 where-houseinfo1 where-houseinfo2 where-houseinfo2"
	  "where-houseinfo1 where-houseinfo1 where-houseinfo2 where-houseinfo2"
	  "where-ownerinfo where-ownerinfo where-renter where-renter"
	  "where-finance where-finance where-finance where-finance"
	  "where-facilities where-facilities where-facilities where-facilities"
	  "where-nearby where-nearby where-nearby where-nearby";
  }
  
  .where-nearby { grid-area: where-nearby; }
  
  .where-facilities { grid-area: where-facilities; }
  
  .where-ownerinfo { grid-area: where-ownerinfo; }
  
  .where-renter { grid-area: where-renter; }
  
  .where-houseinfo2 { grid-area: where-houseinfo2; }
  
  .where-houseinfo1 { grid-area: where-houseinfo1; }
  
  .where-finance {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 10px 10px;
	grid-auto-flow: row;
	grid-template-areas:
	  "where-finance-price where-finance-utilities where-finance-terms"
	  "where-finance-price where-finance-utilities where-finance-terms"
	  "where-finance-price where-finance-utilities where-finance-terms";
	grid-area: where-finance;
  }
  
  .where-finance-price { grid-area: where-finance-price; }
  
  .where-finance-utilities { grid-area: where-finance-utilities; }
  
  .where-finance-terms { grid-area: where-finance-terms; }
  

