/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
.wrapper{
	max-width: 1200px;
	margin: 30px auto;
	border-radius: 10px;
	background-color: rgb(250, 235, 215);	
	position: relative;
}

.user-table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 90%;
	margin: 20px auto;
	text-align: center;
}
.user-table-td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.user-table-td2{
	width: 80%;

}
.user-table-tr{
	color: #1f4100;
}
  .user-table-tr:nth-child(even) {
	background-color: #dddddd;
	color: rgb(202, 94, 22);
  }

  .user-profilephoto{
	  width: fit-content;
	  margin: auto;
	}
	.user-profilephoto>img{
		height: 200px;
		margin: 20px;
		border-radius: 100%;

  }
  .user-table-caption{
	  font-size: 30px;
	  color: #493439;
  }

  .user-editprofile{
	background-color: rgb(9, 122, 221);
	border:2px solid blue;
	text-decoration:none;
	position: absolute;
	top:10px;
	right: 10px;	
	padding: 10px;
	color: cornsilk;
}


  @media screen and (max-width: 600px) {
	.user-table {
	  border: 0;
	}
  
	.user-table-caption {
	  font-size: 1.3em;
	}
	
	.user-table-table thead {
	  border: none;
	  clip: rect(0 0 0 0);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}
	
	.user-table-table tr {
	  border-bottom: 3px solid #ddd;
	  display: block;
	  margin-bottom: .625em;
	}
	
	.user-table-table td {
	  border-bottom: 1px solid #ddd;
	  display: block;
	  font-size: .8em;
	  text-align: right;
	}
	
	.user-table-table td::before {
	  content: attr(data-label);
	  float: left;
	  font-weight: bold;
	  text-transform: uppercase;
	}
	
	.user-table-table td:last-child {
	  border-bottom: 0;
	}
}