.Bfooter{
	min-height: 75vh;
	background-color:rgb(43, 42, 42) ;
	text-align: center;
	color: blanchedalmond;
}
.joinnow-container h1{
	color: blue;
	font-size:2.5rem ;
	padding: 15px;
}
.joinnow-container p{
	font-size: 1.2rem;
	margin: 10px;;
}

.nearby-cities{
	margin: 25px;
	display: grid;
	grid-template-columns: repeat(auto-fill,150px);
	grid-gap: 15px;
	list-style: none;
	text-align: center;
	justify-content: center;
	justify-self: start;
	grid-column-gap: 90px;
}
.cities-section-heading{
	margin: 10px;
}