.UserCardSection-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
	background: rgb(173, 180, 166);
}